@import url(./animaciones.css);

* {
    padding: 0;
    margin: 0;
}

/* ESTILOS GENERALES PARA TODAS LAS PAGINAS: MOBILE */

body{
    background-image: url(../images/My\ project.png);
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    display: grid;
    height: 100vh;
    grid-template-rows: 40px auto auto;
    grid-template-columns: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Especifico para el body del home */
.home{
    background-image: url(../images/uñasBeti4.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    height: 100vh;
    grid-template-rows: 40px 1fr 100px;
    grid-template-columns: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Especifico para el body de contacto */
.contacto{
    background-image: url(../images/My\ project.png);
    background-repeat: repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    display: grid;
    height: 100vh;
    grid-template-rows: 40px 1fr 100px;
    grid-template-columns: 100%;
    font-family: 'Roboto', sans-serif;
}
/* BARRA DE NAVEGACION DESPLEGABLE */
header{
    grid-row: 1/2;
    width: 100%;
    text-align: right;
}

.header__menu{
    display: none;
}

#menu{
    display: none;
}

#menu:checked ~ .header__menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(128, 128, 128, .8);
    text-align: center;
}

.menuOpen{
    display: inline-block;
    margin-top: 10px;
    margin-right: 15px;
    color: white;
}

.menuClose{
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 15px;
    color: white;
}

.header__menu ul li{
    list-style: none;
    margin-bottom: 5px;
}

.header__menu ul li:hover{
    transform: scale(1.1);
}

.header__menu ul a{
    text-decoration: none;
    font-family: 'Titan One', cursive;
    color: white;
}

/* CONTENIDO DE LAS SECCIONES */
.contenido{
    grid-row: 2/3;
    margin: 15px;
}

/* Titulo */
h1{
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    animation-name: mostrarTitulo;
    animation-duration: 2s;
}

h2{
    font-size: 30px;
}

/* FOOTER */
footer{
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
}

footer img{
    margin-top: 10px;
}

/* TAMAÑOS ORIENTACION VERTICAL */
.fontSizeLogo{
    font-size: 15vw;
}
.fontSizeFooter{
    font-size: 25px;
}
.widthImgFooter{
    width: 14vw;
}
.fontSizeMenu{
    font-size: 7vw;
}
.fontSizeBotonMenu{
    font-size: 35px;
}

/* ESPECIFICO: Servicios */
        .servicios{
            grid-row: 2/3;
            display: flex;
            flex-direction: column;
        }

        .servicio{
            display: flex;
            flex-direction: column;
            margin: 15px;
            align-items: center;
        } 

        .servicio__titulo{
            text-align: center;
        }
        .servicio__imagen{
            border-radius: 10px;
            width: 350px;
            height: 250px;
            margin: 15px;
            object-fit: cover;
        }
        .object-position-center{
            object-position: center center;
        }
        .object-position-top{
            object-position: top center;
        }
        .object-position-bottom{
            object-position: bottom center;
        }

        .servicio__texto{
            width: 350px;
            text-align: justify;
        } 
/* ESPECIFICO: Galeria */

        .historias{
            height: 110px;
            text-align: center;
        }

        .historias__btn{
            height: 70px; 
            width: 70px;
            border-radius: 50%;
            background-image: url(../images/instagram.png);   
        }
        .modal-dialog{
            height: 100vh;
            width: 100%;
            display: flex;
        }
        .modal-content{
            height: 100vh;
            justify-content: center;
            background-color: transparent;
            border: none;
        }

        .modal-content button{
            position: absolute;
            top: 0;
            right: 0;
            margin: 20px;
            font-size: 30px;
        }
        .galeria{
            display: grid;
            margin: 0 auto;
            height: auto;
            grid-template-columns: repeat(2, 150px);
            grid-template-rows: 60px, repeat(2, 150px);
            gap: 10px;
            justify-content: center;
        }
        .galeria__imagen{
            border: black solid 1px;
            border-radius: 20px;
            height: 150px;
            width: 150px;
            object-fit: cover;
            object-position: top center;
        }

        .galeria__instagram{
            width: 250px;
            height: 450px;
            grid-row: span 2;
            border-radius: 20px;
            object-fit: cover;
            object-position: center center;
        }

/* ESPECIFICO: Sobre Mi */
        .sobreMi{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .sobreMi__insta{
            width: 300px;
            height: 510px;
            border-radius: 20px;
        }

        .sobreMi__texto{
            margin-top: 10px;
            text-align: justify;
            font-size: 20px;
        }

/* CAMBIO DE TAMAÑOS EN ORIENTACION HORIZONTAL */
@media (orientation:landscape){

    .fontSizeLogo{
        font-size: 15vh;
    }
    .widthImgFooter{
        width: 14vh;
    }
    .fontSizeMenu{
        font-size: 7vh;
    }
    .fontSizeBotonMenu{
        font-size: 7vh;
    }
}

@media (min-width: 600px){
    /* ESPECIFICO: Galeria */
    .galeria{
        display: grid;
        margin: 0 auto;
        height: auto;
        grid-template-columns: repeat(2, 250px);
        grid-template-rows: 250px;
        gap: 10px;
        justify-content: center;
    }

    .galeria__imagen{
        border: black solid 1px;
        border-radius: 20px;
        height: 250px;
        width: 250px;
        object-fit: cover;
        object-position: top center;
    }

    .galeria__instagram{
        width: 250px;
        height: 510px;
        border-radius: 20px;
        object-fit: cover;
        object-position: center center;
    }
}
@media (min-width: 800px){
    .menuOpen , .menuClose{
        display: none;
    }

    header{
        position: sticky;
        height: 55px;
        top: 0px;
    }

    .header__menu{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        margin-top: 10px;
        background-color: rgba(128, 128, 128, .5);
    }

    .header__menu ul{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .header__menu ul li a{
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
    }

    .fontSizeMenu{
        font-size: 4vh;
    }
    /* ESPECIFICO: Servicios */
    .servicio{
        display: grid;
        grid-template-rows: repeat(20px, 1fr);
        grid-template-columns: 300vw, 1fr;
        align-items: start;
        border: solid black 1px;
        border-radius: 30px;
        padding: 10px;
    }
    .servicio__imagen{
        grid-row: 1/3;
        grid-column: 1/2;
    }
    .servicio__titulo{
        align-self: center;
        grid-row: 1/2;
        grid-column: 2/3;
        text-align: center;
    }
    .servicio__texto{
        width: 100%;
        grid-row: 2/3;
        grid-column: 2/3;
    }

    /* ESPECIFICO: Galeria */
    .galeria{
        display: grid;
        margin: 0 auto;
        height: auto;
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: 250px;
        gap: 10px;
        justify-content: center;
    }

    .galeria__imagen{
        border: black solid 1px;
        border-radius: 20px;
        height: 250px;
        width: 250px;
        object-fit: cover;
        object-position: top center;
    }

    .galeria__instagram{
        width: 250px;
        height: 510px;
        grid-row: span 2;
        border-radius: 20px;
        object-fit: cover;
        object-position: center center;
    }

    /* ESPECIFICO: SobreMi */
    .sobreMi{
        display: flex;
        flex-direction: row;
        gap: 20px; 
    }
}
